arrow==0.14.2
Click==7.0
Flask==1.0.3
Flask-RQ2==18.3
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
python-dateutil==2.8.0
redis==3.2.1
rq==1.0
rq-dashboard==0.5.1
six==1.12.0
pandas==1.1.4
Werkzeug==0.16.1
mypy==0.790
data-science-types==0.2.22
numpy==1.19.4
Flask-Cors==3.0.10
dataclasses
dataclasses-json